for sz in 0 2 4 6 7 8 9 10 11 12 14 16 18 20 22 24 26 28 30 36 40 46
	.sz-{sz} 
		font-size 1pt * sz
	.lnhg-{sz}
		line-height 1pt * sz
	.pad-{sz}
		padding 1px * sz
Gray(PC)
	col = 255-((255*PC)/100)
	rgb(col,col,col)
$rowheight = 48px
/*#header 
	margin-top 0*/
.calendar	
	font-family 'Roboto','Helvetica', sans-serif
	padding 16px 10px
	font-size 9pt
	hr
		border-top 1px solid #fdfdfd
	h1,h2,h3,h4
		margin 0 0 8px 0
	.calendar-wrapper
		border 1px solid #184e2e
		.calendar-row
			background-color white
			display flex
			justify-content center
			padding 0
			.month-outer
				box-sizing border-box
				display flex
				flex-wrap nowrap
				padding 16px
				width 100%
				.month-wrapper
					border 1px solid #206a55
					border-radius 4px
					box-shadow 1px 1px 6px rgba(0,0,0,0.1)
					background-color white
					width 100%
					.month-title
						border 1px solid #206a55
						background #184e2e url('verdesin/images/ui-bg_hexagon_20_184e2e_12x10.png') 50% 50% repeat
						color #ffffff
						font-weight bold
						padding 8px
						text-transform uppercase
					.days-wrapper
						display flex
						flex-wrap wrap
						.day-cell
							box-sizing border-box
							border-bottom 1px solid rgba(32,106,85,0.2)
							padding 8px 4px	
							text-align center
							transition all 400ms cubic-bezier(.23,1,.32,1)
							width 14.2857%
						.day-cell:not(.day-name):not(.day-null):hover
							opacity .75
							cursor pointer
							color black
						.day-name
							background-color rgba(32,106,85,0.2)
					.days-wrapper:nth-of-type(even) 
						.day-cell:not(.day-name)
							background-color rgba(32,106,85,0.15)
					.days-wrapper:nth-of-type(odd) 
						.day-cell:not(.day-name)
							background-color rgba(32,106,85,0.08)
					.days-wrapper:nth-of-type(n) 
						.day-cell.selected
							background-color rgba(224,207,194,1)
						.day-cell.holiday
							background-color rgba(199,90,6,1)
							color white
						.day-cell.tech
							background-color rgba(6,106,199,1)
							color white 
						.day-cell.course
							background-color rgba(20,120,20,1)
							color white
						.day-cell.course:nth-of-type(7)
							background-color rgba(20,120,20,.7)
							color white
						.day-cell.course:nth-of-type(6)
							background-color rgba(20,120,20,.75)
							color white
						.day-cell.course:nth-of-type(5)
							background-color rgba(20,120,20,.8)
							color white
						.day-cell.course:nth-of-type(4)
							background-color rgba(20,120,20,.85)
							color white
						.day-cell.course:nth-of-type(3)
							background-color rgba(20,120,20,.9)
							color white
						.day-cell.course:nth-of-type(2)
							background-color rgba(20,120,20,.95)
							color white
						.day-cell.course:nth-of-type(1)
							background-color rgba(20,120,20,1)
							color white 
					.days-wrapper:nth-of-type(even) 
						.day-cell.inactive:not(.day-name)
							background-color rgba(32,106,85,0.15)
							color black
					.days-wrapper:nth-of-type(odd) 
						.day-cell.inactive:not(.day-name)
							background-color rgba(32,106,85,0.08)
							color black
		.calendar-row:first-of-type 
			.month-outer:nth-of-type(1),
			.month-outer:nth-of-type(2)
				background-color rgba(120,120,0,0.3)
				border-bottom 1px solid #184e2e
			.month-outer:nth-of-type(2)
				border-right 1px solid #184e2e 
		.calendar-row:first-of-type 
			.month-outer:nth-of-type(3),
			.month-outer:nth-of-type(4)
				background-color rgba(0,120,0,0.3)
			.month-outer:nth-of-type(4)
				border-bottom 1px solid #184e2e
		.calendar-row:nth-of-type(2) 
			.month-outer:nth-of-type(1),
			.month-outer:nth-of-type(2),
			.month-outer:nth-of-type(3)
				background-color rgba(0,120,0,0.3)
				border-bottom 1px solid #184e2e
			.month-outer:nth-of-type(3)
				border-right 1px solid #184e2e
		.calendar-row:nth-of-type(2) 
			.month-outer:nth-of-type(4),
		.calendar-row:nth-of-type(3) 
			.month-outer
				background-color rgba(0,120,120,0.5) 
		.calendar-row:nth-of-type(3) 
			.month-outer
				background-color rgba(0,120,120,0.5)
	.calendar-block
		background-color white
		border 1px solid Gray(10)
		margin 0 0 1px 0
		padding 16px 
		.courses-wrapper
			//border 1px solid Gray(5)
			display flex
			flex-wrap wrap
			justify-content space-between
			.block-course-edit
				padding 10px
				box-sizing border-box
				width 50%
				.inner-block
					align-items flex-start
					display flex
					flex-wrap wrap
					width 100%
					input,select
						width 120px
						min-width 120px
						margin 0 10px 4px 0
						padding 5px
					ul.days 
						display flex 
						padding 0
						margin 0 10px 0 0
						li.day
							background-color #f4f0ec
							border 1px solid #e0cfc2
							cursor pointer
							display block
							margin 0 2px 0 0
							padding 6px 10px
							&:hover 
								opacity .85
						li.day.active 
							background-color #5cb85c
							color white
			.block-courses 
				padding 16px
				box-sizing border-box
				width 50%
				.well
					background-color Gray(5)
					padding 10px
					.mod-list
						background-color white
						border 1px solid Gray(10)
						box-sizing border-box
						border-radius 2px
						display flex
						justify-content space-between
						margin-bottom 4px
						padding 4px 10px
						position relative
						transition box-shadow 300ms ease-out
						width 100%
						&:hover 
							box-shadow 3px 3px 6px 1px rgba(0,0,0,0.12)
						.content,.buttons 
							flex-grow 1
						.content
							border-right 1px solid Gray(10)
							border-left 1px solid Gray(10)
							padding 8px 16px
							.title
								margin-right 50px
								font-size 10pt
								font-weight 700
							hr
								margin 2px 0 6px 0
							.description 
								font-size 9pt
								margin 0
								color Gray(40)
						.buttons
							display flex
							align-items center
							justify-content center
							max-width 20px
							min-width 20px
							padding 8px 16px
		#description_text
			font-size 11pt
		.ref-wrapper 
			display flex
			.mod
				padding 6px
				font-size 9pt
				margin 0 4px 0 0
				width auto
			.mod-tech
				background-color rgba(6,106,199,1)
				color white !important 
			.mod-course
				background-color rgba(20,120,20,1)
				color white !important
			.mod-holiday
				background-color rgba(199,90,6,1)
				color white !important
			.mod-selected
				background-color rgba(224,207,194,1)
		.header-wrapper 
			h2
				border-bottom 1px solid rgba(224,207,194,1)
				margin 4px 0 26px 0
			.years,select,input,button
				padding 4px 10px
	.filters
			display flex
			flex-wrap wrap
			.item
				width 50%
				.btn-group
					padding 10px 0
					display flex
					button
						margin 0
						border-radius  0
						border 1px solid #cdcdcd
						input
							margin 0 6px
							border 1px solid #cdcdcd
							padding 4px 8px
							width 70px
					button:first-of-type
						border-top-left-radius 10px
						border-bottom-left-radius 10px
					button:last-of-type
						border-top-right-radius 10px
						border-bottom-right-radius 10px
					button.active.btn-holiday
						background-color rgba(199,90,6,1)
						color white !important
					button.active.btn-course
						background-color rgba(20,120,20,1)
						color white !important
					button.active.btn-tech
						background-color rgba(6,106,199,1)
						color white !important
					button.active.btn-erase
						background-color #E64759
						color white !important
			.check-group
				display flex
				padding 10px 0 10px 0
				.wrapper
					border 1px solid #dfdfdf
					border-radius 4px
					cursor pointer
					margin 0 4px 0 0
					padding 6px 10px
					&:hover
						background-color rgba(224,207,194,.5)
			.title-filters
				margin 10px 0 0 0
			.info-block
				border 1px solid #dfdfdf
				font-size  8pt
				padding 10px 26px 10px 10px
				margin 10px 46px 10px 0
	.schedule
		background-color white
		///border 1px solid Gray(5)
		font-family 'Roboto', sans-serif
		padding 10px
		min-width 1080px
		.heading
			display flex
			.period,.logo
				color maroon
				width 50%
			.period 
				.title 
					font-size 36pt
					line-height 1
			.logo
				text-align right
				img 
					max-width 200px
		.title-bar
			background-color alpha(#c9a390,.75)
			padding 10px
			text-align center
			text-transform uppercase
			h3
				font-size 1.3em
			ul 
				margin 10px 0
				padding 0
				li 
					display block
					font-size 1.3em
			.wrapper 
				display flex 
				.col 
					width 50%
			.title 
				font-size 18pt
			.subtitle
				font-size 16pt
				font-weight 300
			.proy 
				font-family 'Times', serif
				font-size 1.1em
		.logos-courses
			text-align center
			img
				max-width 100%
		.footer
			background-color #154733
			color white
			font-size 10pt
			text-align center
			padding 10px
			p 
				margin 0
				padding 0
		.body			
			.schedule-body 
				background-color white
				//border 2px solid Gray(10)
				margin 26px 0
				//min-height 360px
				display flex 
				.month 
					padding 4px
					//height 320px
					width 100%
					.month-inner
						//height 100%
						border 1px solid Gray(20)
						box-shadow 4px 4px 4px alpha(black,.05)
						.month-head
							padding 8px 16px 
							///background-color #0d190d
							border-bottom 1px solid Gray(20)
							.month-name 
								//color white
								font-weight 600
								font-size 18pt
								text-transform uppercase
						.month-body
							.month-row
								align-items center
								background-color alpha(#154733,.05)								
								display flex
								position relative
								//padding 6px 16px
								&:not(:last-of-type)
									///border-bottom 1px solid #0d190d
									border-bottom 1px solid Gray(20)
								.day  
									background-color alpha(#154733,.12)
									color darken(#154733,4)
									//color #154733
									padding 1px 15px
									min-width 34px
									width 34px
									text-align center
									.num 
										font-size 16pt
										font-weight 600
									.dayname
										font-size 11pt
										font-weight 400
										text-transform uppercase
								.caption
									//color #154733
									font-weight 400
									font-size .875rem
									line-height 1.2
									padding 0 8px
									width 100%
							.month-row:not(.blank)
								cursor pointer
							.month-row.tech
								background-color alpha(rgba(6,66,159,1),.05)
								.day
									background-color alpha(rgba(6,66,159,1),.12)								
									color rgba(6,66,159,1)
							.month-row.holiday
								background-color alpha(rgba(159,50,6,1),.05)
								.day
									background-color alpha(rgba(159,50,6,1),.12)
									color rgba(159,50,6,1)
							.month-row.blank
								background-color white
								.day 
									background-color white
								.caption 
									text-align center
	

	.grid 
		background-color white
		padding 10px 0
		box-sizing border-box
		overflow auto
		min-width 1468px
		.main-title 
			text-align center
			margin 0
		.table-grid
			border 1px solid Gray(20)
			margin 16px auto
			table-layout fixed
			width 100%
			thead
				//background-color #154733
				background-color white
				color #154733
				tr 
					th
						border 1px solid Gray(10) 
						padding 4px 0
						font-size .875rem
						width 100px
						white-space nowrap
					th:nth-of-type(1),th:nth-of-type(2)
						width 110px
			tbody
				tr 
					td 
						//border 1px solid black						
						text-align center
						padding 0
						font-size .975rem
						box-sizing border-box
						vertical-align top
						position relative
						width auto
						&:nth-of-type(1)
							background-color Gray(1)
							border 1px solid Gray(10)
						&:nth-of-type(2)
							.row 
								background-color Gray(2)
						.tag 
							padding 6px
						.row 
							//background-color rgba(250,191,143,.2)
							background-color white
							box-sizing border-box
							border 1px solid Gray(10)
							align-items center
							display flex
							font-size .875rem
							margin 0 0 1px 0
							height $rowheight
							padding 0
							justify-content center
						.row-overlap 
							border 2px solid red
						for num in (1..28)
							.row-{num}
								height ($rowheight * num)+(num)
						.turnos 
							.data 
								.code 
									display block
									font-weight bold 
									font-family 'Roboto', sans-serif
								.desc 
									font-size .775rem
						.mod 
							position absolute
							//border none
							color white
							padding 2px 6px
							box-sizing border-box
							top 0 
							left 0
							height $rowheight
							width 100%
							//text-transform uppercase
							//word-break break-all
							z-index 1
							.data
								span
									font-family 'Roboto', sans-serif
									display block
								span.name
									font-size .85rem
									font-weight bold
								span.instructor 
									line-height 1
									display block
									margin-top 2px
									font-size .775rem
							.ref-hour 
								border-bottom 1px solid alpha(Gray(50),.5)
								background-color alpha(black,.1)
								color white
								opacity 1
								position absolute
								font-size .7rem
								font-style italic
								text-align left
								padding 0 4px
								height 20px
								box-sizing border-box
								left 0
								top 0
								width 100%
							.remove 
								cursor pointer
								opacity .8
								position absolute
								right 4px 
								top -2px
								&:hover 
									opacity 1
		.table-ref
			display flex 
			flex-wrap wrap 
			.mod 
				padding 8px 16px
				margin 2px 2px 0 0
				box-sizing border-box
				color white
				font-size 1rem
	.special-events
		align-items center
		display flex 
		flex-wrap wrap
		.mod 
			margin 0 4px 0 0
			padding 8px
			select,input
				padding 4px 10px
			.btn 
				padding 4px 10px

.mod-intensivo
	background-color alpha(#fabf8f,.85) !important
	color black !important
.mod-regular
	background-color alpha(yellow,.85) !important
	color black !important
.mod-fastrack
	background-color alpha(#2398d2,.85) !important
.mod-recovery
	background-color alpha(#ff1100,.85) !important
.mod-special
	background-color alpha(#aa6600,.85) !important
.mod-stp
	background-color alpha(#001199,.85) !important
.mod-empleartec
	background-color alpha(#8c4093,.85) !important
.mod-testingcenter
	background-color alpha(#1f6f4a,.85) !important
.mod-furukawa
	background-color alpha(#66bb0c,.85) !important
.mod-workshop
	background-color alpha(#aa1133,.85) !important
.mod-overlap
	background-color white !important
	border 2px solid red
	color red !important

.pop-messages 
	align-items center
	background-color alpha(white,.85)
	display flex
	justify-content center 
	height 100%
	opacity 0
	left 0
	overflow auto
	top 0
	position fixed
	visibility hidden
	transition opacity 300ms ease-out
	width 100%
	z-index 999999
	.content 
		background-color white
		border 1px solid alpha(black,.1)
		box-shadow 2px 2px 4px alpha(black,.1)
		padding 4px
		transition transform 500ms cubic-bezier(.23,1,.32,1)
		transform translateY(-50%)
		max-width 480px
		width 100%
		.header 
			background-color green
			padding 4px 10px
			text-align right
			border-radius 4px
			.close 
				cursor pointer
				border none
		.body 
			padding 26px 10px
			text-align center
			font-size .7em
		.footer 
			padding 16px 10px
			border-top 1px solid alpha(black,.1)
			text-align center
			button 
				font-size .7em
				padding 4px 8px
.pop-messages.active 
	opacity 1
	visibility visible
	.content 
		transform translateY(0)
		
.add-holiday-content
	.date 
		margin 0
	.subtitle
		margin 0 0 1rem 0
	hr 
		border none
		border-top 1px solid Gray(10)
		margin 1rem 0
	.course-item 
		border 1px solid Gray(10)
		margin 2px 0
		padding .2rem .65rem
		display flex 		
		align-items center
		text-align left
		.course
			padding 8px
			margin 0
			font-size .675rem
			width 200px
			a 
				text-decoration none 
				&:hover 
					text-decoration underline
		input[type="text"]
			padding .465rem .465rem
			border none 
			background-color Gray(5)
			width 100%			

@media print
	.no-print 
		display none !important
@media screen and (max-width 1080px)
	.calendar 
		.calendar-row
			flex-wrap wrap
			.month-outer
				width 50%	
				border none !important
		.filters 
			.item
				width 100%
		.calendar-block
			.courses-wrapper
				flex-wrap wrap
				.block-courses,.block-course-edit
					width 100%
@media screen and (max-width 960px)
	.calendar
		.schedule
			.body
				.schedule-body 
					flex-wrap wrap
@media screen and (max-width 696px)
	.calendar 
		.month-outer
			width 100%			
